html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.login-register {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.selected-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transform: translateX(100%);
    transition: transform 0.3s;
    width: 50%;
    height: 50px;
    border-radius: 99rem;
    position: absolute;
    z-index: 0;
}

.selected-decoration.active {
    transform: translateX(0);
}

.buttons-container {
    display: flex;
    align-items: center;
    background-color: rgba(108, 117, 125, 0.1);
    gap: 0.5rem;
    width: 200px;
    position: relative;
    border-radius: 99rem;
    height: 50px;
}

.button {
    width: 50%;
    color: gray;
    font-weight: 600;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99rem;
    border-color: transparent;
    background-color: transparent;
    z-index: 10;
}

.button.active {
    color: white;
}

.form-container {
    width: 80%;
    max-width: 600px;
    height: 100%;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.2rem;
    border: 1px solid gray;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.checkbox-container {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.submit-button {
    width: 100%;
    color: white;
    font-weight: 600;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99rem;
    border-color: transparent;
    background-color: #3b4fe4;
    z-index: 10;
}